adal==1.2.1
asn1crypto==0.24.0
blessings==1.7
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==3.3.2
google-auth==1.6.3
idna==2.8
kubernetes==8.0.1
nephos
oauthlib==3.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
Pygments==2.3.1
PyJWT==1.7.1
python-dateutil==2.8.0
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.1
six==1.12.0
urllib3==1.24.2
websocket-client==0.54.0
